@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #0b0d22;
  --secondary-color: #161a31;
  --input-color: #345ac2;
}

body {
  background: var(--main-color);
  min-height: 100vh;
  width: 100%;
}

#btn-home {
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-decoration: none;
  outline: none;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #0e2c7e, #081947, #0e2c7e);
  border-radius: 50%;
}

#btn-home > img {
  position: fixed;
  right: 49px;
  bottom: 50px;
}

#btn-home.none {
  display: none;
}

header {
  padding: 1.5rem 1rem;
  background: linear-gradient(
    90deg,
    var(--main-color),
    #000,
    var(--main-color)
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6rem;
}

.list-nav > a {
  text-decoration: none;
  color: #ccc;
  opacity: 0.8;
}

.list-nav > a:hover {
  border-bottom: 1px solid #eee;
  opacity: 1;
}

.iconp > img {
  width: 30px;
  margin: 0 5rem;
}

.home {
  display: flex;
  margin: 5rem 0;
  height: 22rem;
  position: relative;
}

.home-img {
  position: absolute;
  left: 15%;
  animation: flutuar 3s infinite;
}

.home-img > img {
  width: 20rem;
}

.home-text {
  max-width: 400px;
  position: absolute;
  right: 15%;
  top: 6rem;
}

.home-text > h1 {
  line-height: 2.5rem;
  text-align: center;
}

.home-text > h1::after {
  content: "|";
  animation: piscar 0.7s infinite;
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: linear-gradient(
    90deg,
    var(--main-color),
    #000,
    var(--main-color)
  );
  padding: 6rem;
}

.sobre-text {
  max-width: 600px;
}

.sobre-text > h2 {
  font-size: 44px;
  text-align: center;
}

.h2mobile {
  display: none;
}

.line {
  display: inline-block;
  width: 20rem;
  height: 2px;
  background: #ccc;
  margin-left: 8.5rem;
}

.line:last-of-type {
  width: 15rem;
  margin-left: 11rem;
}

.sobre-text > p {
  margin-top: 4rem;
  text-align: justify;
  text-indent: 2rem;
  font-weight: 200;
}

.sobre-text > p > span {
  color: #3e52e7;
}

.sobre-img > figure > img {
  width: 15rem;
  border-radius: 50%;
  animation: iluminar 0.7s infinite;
}

@keyframes iluminar {
  0%,
  100% {
    box-shadow: 0 0 10px #3e52e7;
  }
  50% {
    box-shadow: none;
  }
}

.tecnologias {
  padding: 5rem;
}

.tecnologias > h2,
.projetos > h2,
.contato > h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 3rem;
}

.box-tec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 2rem 2rem 0;
  width: 100%;
}


.box-tec:nth-child(2),
.box-tec:nth-child(4) {
  margin: 0 0 2rem;
}

.tec-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 40%;
  height: 10rem;
  opacity: .3;
  transition: .3s all;
}

.tec-img:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.tec-img:nth-of-type(4) > img {
  margin-top: 30px;
}

.tec-img > img {
  width: 6rem;
}


.projetos {
  background: linear-gradient(
    90deg,
    var(--main-color),
    #000,
    var(--main-color)
  );
  padding: 2rem 0;
}

.box-projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
  max-width: 80vw;
  text-align: center;
  border-bottom: 2px solid #fff;
  padding: 2rem;
}

.box-projeto:last-child {
  border: none;
}

.box-projeto > .nome-projeto {
  font-weight: 700;
  font-size: 22px;
  color: var(--input-color);
  width: 20%;
}

.box-projeto > .desc-projeto {
  width: 70%;
}

.box-projeto > .link-projeto {
  display: flex;
  gap: 2rem;
}

.contato {
  padding: 5rem;
}

.box-contato {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.input-group {
  margin-bottom: 3rem;
  position: relative;
}

.input-group > input,
.input-group > textarea {
  border: none;
  font-size: 22px;
  color: var(--input-color);
}

.input-group > input {
  background: none;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0;
  width: 100%;
}

.input-group > textarea {
  resize: none;
  padding: 0.5rem;
  border-radius: 2px;
}

.input-group > input:focus,
.input-group > textarea:focus {
  outline: none;
}

.input-group > label {
  position: absolute;
  font-size: 22px;
  left: 0;
  bottom: 10px;
  pointer-events: none;
  opacity: 0.5;
}

.input-group:last-of-type > label {
  color: #000;
  left: 10px;
  top: 10px;
}

.input-group > input:focus ~ label,
.input-group > textarea:focus ~ label,
.input-group > input:valid ~ label,
.input-group > textarea:valid ~ label {
  transform: translateY(-30px);
  transition: 0.5s;
  opacity: 1;
  font-size: 20px;
}

.animeInputLabel {
  transform: translateY(-30px);
  transition: 0.5s;
  opacity: 1 !important;
  font-size: 20px;
}

.animeInputLabelTextarea {
  color: #fff;
  transform: translate3d(-10px, -40px, 0);
  transition: 0.5s;
  opacity: 1;
  font-size: 20px;
}

.input-group > textarea:focus ~ label,
.input-group > textarea:valid ~ label {
  color: #fff;
  transform: translate3d(-10px, -40px, 0);
  transition: 0.5s;
  opacity: 1;
  font-size: 20px;
}

.form-contato > button {
  border: none;
  color: #fff;
  width: 100%;
  height: 2rem;
  background: var(--input-color);
  cursor: pointer;
  opacity: 0.9;
  border-radius: 2px;
}

.form-contato > button:hover {
  opacity: 1;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.social-media > a > img {
  width: 3rem;
}

footer {
  background: linear-gradient(
    90deg,
    var(--secondary-color),
    #000,
    var(--secondary-color)
  );
  padding: 1rem 0;
  display: grid;
  place-items: center;
}

[data-show] {
  opacity: 0;
}
.show {
  opacity: 1 !important;
  transition: 0.3s all;
}
